@use "../variables" as *;
@use "../mixins" as *;

.intro {
    width: 100%;
    .content {
        background: url('../../assets/images/bg/bg1_2.png') no-repeat center / contain;
        width: 100%;
        max-width: 500px;
        aspect-ratio: 500 / 1570;
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        .invitation {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;

            .logo {
                padding: 30% 0 12%;
                perspective: 500px;
                img {
                    max-width: 80px;
                    width: 100%;
                    height: auto;
                }
            }

            .family-info {
                padding-bottom: 4%;
                p {
                    line-height: 1.8;
                    text-transform: uppercase;
                }

                img {
                    width: 16px;
                    height: auto;
                }
            }

            .announcement {
                p {
                    line-height: 1.8;
                }
            }

            .couple-names {
                padding: 4% 0;

                h2 {
                    font-family: $font-hero;
                    font-size: 42px;
                    letter-spacing: 1.2px;
                    font-weight: 300;
                    margin: 4% 0;
                }

                .separator-text {
                    font-size: 45px;
                    font-family: $font-hero;
                    line-height: 1;
                }
            }

            .divider {
                width: 100%;
                padding: 6% 0 10%;
                perspective: 1000px;
                .divider-icon {
                    width: 60px;
                    height: auto;
                    object-fit: cover;
                }
            }

            .top-detail {
                padding: 4% 0;

                h2 {
                    font-size: 28px;
                    font-weight: 300;
                }

                .subtime {
                    font-size: 13px;
                }
            }

            .photo-area {
                margin-top: 15%;
                max-width: 228px;
                width: 100%;
                aspect-ratio: 1 / 1.3;
                background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/nhat-tu/Pre.035.jpg') no-repeat center / cover;
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .invitation {
                .logo {
                    img {
                        max-width: calc((80 / 500) * 100vw);
                    }
                }
                .family-info {
                    img {
                        width: calc((16 / 500) * 100vw);
                    }
                }
    
                .couple-names {
                    h2 {
                        font-size: calc((42 / 500) * 100vw);
                        letter-spacing: calc((1.2 / 500) * 100vw);
                    }

                    .separator-text {
                        font-size: calc((45 / 500) * 100vw);
                    }
                }
    
                .divider {
                    .divider-icon {
                        width: calc((60 / 500) * 100vw);
                    }
                }

                .top-detail {
                    h2 {
                        font-size: calc((28 / 500) * 100vw);
                    }

                    .subtime {
                        font-size: calc((13 / 500) * 100vw);
                    }
                }

                .photo-area {
                    max-width: calc((228 / 500) * 100vw);
                }
            }
        }
    }
}

.location-time {
    width: 100%;
    .content {
        width: 100%;
        text-align: center;

        .invitation-text {
            padding: 12% 0;
    
            p {
                line-height: 1.8;
                text-transform: uppercase;
            }
        }
    
        .time {
            h2 {
                font-size: 28px;
                font-weight: 300;
                margin: 1%;

                span {
                    font-size: 26px;
                }
            }
    
            .separator-text {
                text-transform: uppercase;
            }
        }
    
        .venue-details {
            .divider {
                width: 100%;
                padding: 8% 0 7%;
                perspective: 1000px;
    
                .divider-icon {
                    width: 70px;
                    height: auto;
                    object-fit: cover;
                }
            }
    
            p.announcement {
                padding-bottom: 4%;
            }
    
            .location-name {
                font-family: $font-hero;
                font-size: 42px;
                line-height: 1.2;
                font-weight: 300;
                letter-spacing: 1.2px;
                margin-bottom: 2%;
            }
    
            .map-link {
                width: 100%;
                padding: 4% 0;
    
                a.map-button {
                    color: $primary-color;
                    text-decoration: none;
                    padding: 1% 19%;
                    border-radius: 15px;
                    border: solid 1px $primary-color;
                }
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .time {
                h2 {
                    font-size: calc((24 / 500) * 100vw);
                    span {
                        font-size: calc((26 / 500) * 100vw);
                    }
                }
            }

            .venue-details {
                .divider {
                    .divider-icon {
                        width: calc((70 / 500) * 100vw);
                    }
                }

                .location-name {
                    font-size: calc((42 / 500) * 100vw);
                    letter-spacing: calc((1.2 / 500) * 100vw);
                }
            }
        }
    }
}
